---
layout: base-layout.njk
page_title: Archives
pagination:
  data: collections.essay
  size: 10
  reverse: true
  alias: essays
---

{% for essay in essays %}
  <article>
    
    <p class="mb-2">
        <time datetime="{{ essay.date | dateIso }}">{{ essay.date | dateReadable }}</time>
    </p>

    <p class="harbour-md text-xl leading-tight text-orange outline"><a href="{{ essay.url | url }}">{{ essay.data.essay_title }}</a></p>
  </article>
{% endfor %}