---
layout: base-layout.njk
page_title: ARCHIVE
pagination:
  data: collections.essay
  size: 10
  reverse: true
  alias: essays
---

<div class="row">
    <div class="col-lg-8 mx-auto mb-5">
      <div class="d-flex flex-column align-items-center my-3">
          <h2 class="harbour-md text-purple">{{ page_title }}</h2>
      </div>
      <div class="mb-5">
          {% for essay in collections.essay | reverse %}
              <article class="mb-4">
                <time class="source-code-pro text-muted" datetime="{{ essay.date | dateIso }}">{{ essay.date | dateReadable }}</time>
                  <h5 class="harbour-md mb-1"><a href="{{ essay.url | url }}">{{ essay.data.title }}</a></h5>
              </article>
          {% endfor %}
      </div>
  </div>
</div>