---
layout: base-layout.njk
page_title: Colophon
---

<p class="mb-6">This website was designed and built by Farley Reynolds, who also does all the writing.</p>

<p class="mb-4 italic">Typefaces used:<p>
<ul>
    <li class="mb">
        <p>&mdash;<span class="font-bold">Mercury Display</span> and <span class="font-bold">Text</span>, designed and distributed by 
            <a class="harbour-md underline" href="https://www.typography.com/" target="_blank">Hoefler & Co.</a>
        </p>
    </li>
    <li>
        <p>&mdash;<span class="font-bold">Harbour</span>, designed by Gareth Hague and distributed by 
            <a class="harbour-md underline" href="https://www.fontshop.com/families/harbour" target="_blank">Alias</a>
        </p>
    </li>
    <li>
        <p>&mdash;<span class="font-bold">Ballast</span>, designed by Ben Kiel and distributed by XYZ Type via  
            <a class="harbour-md underline" href="https://www.futurefonts.xyz/xyz-type/ballast?ref=16" target="_blank">Future Fonts</a>
        </p>
    </li>
    <li>
        <p>&mdash;<span class="font-bold">Nazareth Roman</span>, designed by Benjamin Critton and distributed by 
            <a class="harbour-md underline" href="http://surplusurplusurplus.com/" target="_blank">Surplus</a>
        </p>
    </li>
</ul>