---
layout: base-layout.njk
---

<div class="py-12 merc-disp text-xl max-w-xl text-center mx-auto">
    <p class="naz-roman text-purple outline leading-none fit">Farley Reynolds</p>
    <p class="mt-4 mb-5 harbour leading-none text-xl tracking-wider">&mdash; ain't &mdash;</p>

    <p class="fit ballast outline text-orange text-center font-bold leading-none -mb-6">No Vague</p>
    <p class="fit ballast outline text-orange text-center leading-none">Believer</p>

    <p class="harbour outline leading-none mt-2 mb-3 text-3xl text-purple asterisk">&#x2022;</p>
    <p class="naz-roman text-2xl sm:text-3xl tracking-wider mb-8">Essays from the Standpoint <br > of Christian Orthodoxy</p>

    {%- for newest in collections.newest %}
        <p class="harbour">Read the <a href="{{ newest.url }}" class="underline text-purple">newest essay</a></p>
        <p class="harbour italic leading-none my-2">or</p>
    {%- endfor -%}
    
    <p class="harbour">Visit the <a href="/archives" class="underline text-purple">archives</a></p>
</div>
