---
layout: base-layout.njk
---

<div class="py-20 merc-disp text-xl max-w-xl text-center mx-auto">
    <p class="uppercase leading-none fit">Farley Reynolds</p>
    <p class="my-2 leading-none text-2xl italic tracking-wider"> &mdash; ain't &mdash;</p>
    <p class="font-bold fit text-orange text-center outline sm:-mt-2 mb-2 uppercase leading-none ">no vague</p>
    <p class="harbour-md fit text-orange text-center outline uppercase leading-none">be&#x0141;iever</p>
    <p class="harbour-md leading-none mt-4 mb-5 text-3xl text-purple outline asterisk">&#x2022;</p>
    <p class="harbour-md text-xl tracking-wide mb-8">Essays from the Standpoint <br > of Christian Orthodoxy</p>

    {%- for newest in collections.newest %}
        <p>Read the <a href="{{ newest.url }}" class="harbour-md underline text-purple">newest essay</a></p>
        <p class="italic leading-none">or</p>
    {%- endfor -%}
    
    <p>Visit the <a href="/archives" class="harbour-md underline text-purple">archives</a></p>
</div>
