<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NVB</title>

    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6249038/7082012/css/fonts.css" />
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
        <aside>
            <div class="container">
                <p class="font-chron">
                    <span class="font-ringside-bold">"I am no vague believer.</span> 
                    I see from the standpoint of Christian orthodoxy. 
                    This means that for me the meaning of life is centered in our Redemption by Christ 
                    and that what I see in the world I see its relation to that."
                    &nbsp;<span class="font-ringside"> &mdash;Flannery O'Connor</span>
                </p>
            </div>
        </aside>
        <header class="text-black">
            <div class="container">
            <p class="font-ringside">
                <span class="font-ringside-bold">Essays</span> 
                from the Standpoint<br> of 
                <span class="font-ringside-bold"> Christian Orthodoxy</span>
            </p>
            <div class="title">
                <h1 class="font-quarto fit">NO VAGUE BELIEVER</h1>
            </div>
            <div class="title-2">
                <h1 class="font-quarto fit">NO VAGUE</h1>
                <h1 class="font-quarto fit">BELIEVER</h1>
            </div>
            <p class="font-ringside attribution">Words by<span class="font-ringside-bold"> Farley Reynolds</span></p>
        </header>

        <main>
            <div class="container">
                <div class="not-sidebar">
                    {% if page_title %}
                        <h6 class="section-header font-ringside-bold">{{ page_title }}</h6>
                    {% endif %}
                    {{ content | safe }}
                </div>
                <div class="sidebar">
                    <h6 class="section-header font-ringside-bold">ARCHIVES</h6>
                    {% for essay in collections.essay | reverse %}
                        <article>
                            <time datetime="{{ essay.date | dateIso }}">{{ essay.date | dateReadable }}</time>
                            <h6 class="font-ringside-bold"><a href="{{ essay.url | url }}">{{ essay.data.title }}</a></h6>
                            &mdash;
                        </article>
                    {% endfor %}
                </div>
            </div>
        </main>
        <footer>
            <div class="container font-ringside">
                <p>
                    Website design by 
                    <a href="https://farleykreynolds.com/" class="font-ringside-bold" target="_blank">
                        Farley Reynolds
                    </a>  
                </p>
                <p>
                    Fonts by 
                    <a href="https://www.typography.com/" class="font-ringside-bold" target="_blank">
                        Hoefler &amp; Co.
                    </a>
                </p>
            </div>
        </footer>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/fitty.min.js"></script>
    <script>
        fitty('.fit');
    </script>
</body>
</html>