<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>No Vague Believer</title>
        <link rel="stylesheet" href="/static/css/MyFontsWebfontsKit.css">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
        <header>
            <div class="center">
                <p class="attribution">FARLEY REYNOLDS</p>
                <h2>No Vague</h2>
                <h1>BELIEVER</h1>
                <p><em>Essays from the standpoint <br> of Christian orthodoxy</em></p>
            </div>
        </header>
        <nav>
            <div class="center">
                <ul>
                    <li>
                        <a href="/">home</a>
                    </li>
                    <li>
                        <a href="/subscribe">subscribe</a>
                    </li>
                    <li><em>est. 2020</em></li>
                </ul>
            </div>
        </nav>
        <main>
            <div class="center">
                {{ content | safe }}
            </div>
        </main>

        <footer>
            <div class="center ">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/subscribe">Subscribe</a>
                    </li>
                </ul>
                <p>
                    <em>
                    "I am no vague believer. I see from the standpoint of Christian orthodoxy. This means that for me the meaning of life is centered in our Redemption by Christ and that what I see in the world I see its relation to that."
                    <br>
                    &mdash;Flannery O'Connor
                    </em>
                </p>
                <p> 
                    Writing and website design by 
                    <a href="https://farleykreynolds.com/" target="_blank">
                        Farley Reynolds
                    </a>
                </p>
            </div>
        </footer>
    </body>
</html>