---
layout: base-layout.njk
---

<h6 class="section-header">
    <time class="font-ringside-bold" datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time>
</h6>

<h3 class="font-quarto essay-title">{{ title }}</h3>

{% if verse %}
    <p class="font-chron-ital">
    {{ verse }}
    {% if citation %}
    <span class="font-ringside"> &nbsp; &mdash;{{ citation }}</span>
{% endif %}
    </p>
{% endif %}

{% if subheading %}
    <p class="font-chron-ital">{{ subheading }}</p>
{% endif %}

<div class="font-chron">
    {{ content | safe }}
</div>

<a href="/" class="font-ringside-bold">BACK HOME</a>