---
layout: base-layout.njk
---

<p class="harbour text-3xl leading-tight mt-16 mb-2 text-orange">{{ essay_title }}</p>

{% if verse %}
<p class="italic mt-4 mb-2">
    {{ verse }}
</p>
{% endif %}

{% if citation %}
<p class="harbour italic mb-10">&mdash; {{ citation }}</p>
{% endif %}

{% if subheading %}
<p class="italic mb-10">&mdash; {{ subheading }}</p>
{% endif %}

{{ content | safe }}

<p class="mb-6 mt-8 text-right italic">&mdash; <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time></p>