:root {
    font-size: 18px;
}

.source-serif-pro {
    font-family: 'Spectral', serif;
}

.source-code-pro {
    font-family: 'Source Code Pro', monospace;
}

.work-sans {
    font-family: 'Work Sans', sans-serif;
}

.text-purple {
    color: #585873;
}

a {
    color: #585873;
}

time {
    font-size: .9rem;
}