
/* GENERAL STYLES */
:root {
    --black: rgba(51, 51, 51, .9);
    --white: #fefcf6;
    --accent-color: #585873;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--black);
    background-color: var(--white);
}

h2 {
    font-size: 49px;
}

h3 {
    font-size: 39px;
}

h4 {
    font-size: 31px;
}

h5 {
    font-size: 25px;
}

h6 {
    font-size: 20px;
}

aside {
    padding: 1rem;
    
}

aside p {
    font-size: 16px;
    padding: 0 .5rem;
}

aside span {
    color: var(--accent-color)
}

aside p:nth-child(2) {
    color: var(--accent-color);
}

header {
    padding: 2rem 1rem;
    background-color: var(--accent-color);
    color: var(--white);
}

header h1 {
    line-height: .8;
    color: var(--white);
}
nav {
    margin-top: 2rem;
}

nav > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav h5 {
    color: var(--white);
    margin: 2rem 0 .5rem 0;
    letter-spacing: 2px;
}

main .container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

main .container > * > * {
    margin: 0.5rem;
}

.not-sidebar {
    min-width: 80%;
    flex-basis: 0;
    flex-grow: 999;
    margin-bottom: 1rem;
}

.not-sidebar > section {
    padding: 1rem 0;
}

.not-sidebar a {
    display: block;
    text-align: right;
    color: var(--accent-color);
    text-decoration: underline;
    letter-spacing: 1px;
}

.sidebar {
    flex-basis: 10rem;
    flex-grow: 1;
}

main p:first-child:first-letter {
    color: var(--accent-color);
    float: left;
    font-family: "Quarto A", "Quarto B";
    font-size: 72px;
    margin-right: 8px;
    margin-top: 8px;
    line-height: .6;
}

main a {
    color: var(--black);
    text-decoration: none;
}

a {
    color: var(--white);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
  padding:1rem;
  flex-grow: 999;
}

main h3.essay-title {
    color: var(--black);
    margin-top: 2rem;
    margin-bottom: 1rem;
}

main h4 {
    color: var(--accent-color);
    margin-bottom: 2.4rem;
}

main h6.section-header {
    letter-spacing: 2px;
    color: var(--accent-color);
    border-top: 2px solid var(--accent-color);
    margin-bottom: 1.5rem;
}

main article {
    margin-bottom: 2rem;
}

main p {
    line-height: 1.4;
    margin-bottom: 1rem;
    font-family: "Chronicle SSm A", "Chronicle SSm B";
    font-style: normal;
    font-weight: 400;
}

time {
    color: var(--accent-color);
    font-family: "Ringside Regular A", "Ringside Regular B";
    font-style: normal;
    font-weight: 300;
}

footer {
    padding: .5rem 0;
    background-color: var(--accent-color);
    color: var(--white);
    font-size: 16px;
}

footer p {
    padding: 0 .5rem;
    text-align: right;
}

footer a {
    text-decoration: underline;
}

/* CLASSES */
.container {
    max-width: 1140px;
    margin: auto;
}

.attribution {
    text-align: right;
}

.title, .title-2 {
    margin: .5rem 0;
}

.title-2 { 
    display: none;
}

/* FONTS */
.font-quarto {
    font-family: "Quarto A", "Quarto B";
    font-style: normal;
    font-weight: 600;
}

.font-chron {
    font-family: "Chronicle SSm A", "Chronicle SSm B";
    font-style: normal;
    font-weight: 400;
}

.font-chron-ital {
    font-family: "Chronicle SSm A", "Chronicle SSm B";
    font-style: italic;
    font-weight: 400;
}

.font-ringside {
    font-family: "Ringside Regular A", "Ringside Regular B";
    font-style: normal;
    font-weight: 300;
}

.font-ringside-bold {
    font-family: "Ringside Regular A", "Ringside Regular B";
    font-style: normal;
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    
    aside p {
        font-size: 14px;
    }
    
    header p {
        font-size: 16px;
    }

    .title {
        display: none;
    }

    .title-2 {
        display: block;
    }
}